html {
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: rgb(64, 64, 64);
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* Content */
.content {
    width: 90%;
    margin: 0 auto;
}

/* Header */
.header {
    margin-bottom: 15px;
}

.header__description {
    text-align: center;
    line-height: 25pt;
}

/* Logo */
.logo {
    text-align: center;
}

.logo__text {
    font-family: "Quicksand", sans-serif;
    font-size: 45pt;
    letter-spacing: 5px;
    font-style: italic;
    font-display: block;
}

/* Cards */
.card {
    margin-bottom: 35px;
    background-color: whitesmoke;
    color: rgb(64, 64, 64);
    box-shadow: 3px 3px 10px rgb(40, 40, 40);
    border-radius: 5px;
}

.card a {
    color: rgb(64, 64, 64);
    padding: 0 5px;
}

.card__title {
    padding: 5px;
    text-align: center;
    height: 150px;
}

.card__title h2 {
    font-size: 25pt;
}

.card__actions {
    font-size: 15pt;
}

.card__description {
    padding: 0 15px 15px 15px;
}

/* Footer */
.footer {
    text-align: right;
}

/* Responsive */
@media only screen and (min-width: 768px) {
    .content {
        width: 50%;
    }

    .header {
        /* margin-bottom: 35px; */
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .header__description {
        line-height: 150px;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
    }
    .card__description {
        padding: 15px;
    }
    .card:nth-child(2n + 2) > .card__title {
        grid-column: 2;
    }
    .card:nth-child(odd) .card__title {
        border-right: 1px solid rgb(120, 120, 120);
    }

    .card:nth-child(even) .card__title {
        border-left: 1px solid rgb(120, 120, 120);
    }
}
